Repository 01-edu/public, pull requests merged in 2024-08, with the labels that each got.

#2664 CON-3026: Add subject for ``declare-everything``
  subjects/DPxAI/declare-everything/README.md
Labels: 🗂️ docs

#2665 CON-3030 Subject for ``Quest01/star-forge``
  subjects/DPxAI/star-forge/README.md
Labels: 🗂️ docs, 🤸 skip-check-links

#2688 CON-3081 Markdown ``Quest01/i-win-arguments``
  subjects/DPxAI/i-win-arguments/README.md
Labels: 🗂️ docs

#2684 CON-3066 Markdown DPxAI: `Quest01/only if`
  subjects/DPxAI/only-if/README.md
Labels: 🗂️ docs

#2678 CON-3063 Markdown for ``Quest01/good-recipe``
  subjects/DPxAI/good-recipe/README.md
Labels: 🗂️ docs

#2675 CON-3044 Markdown DPxAI: ``Quest01/objects-around``
  subjects/DPxAI/objects-around/README.md
Labels: 🗂️ docs

#2670 CON-3027 Tests(DPxAI): Add test for Quest01 declare-everything
  js/tests/declare-everything.json
Labels: 🧪 test

#2671 CON-3011 Tests(DPxAI): Add test for Quest01 the-smooth-operator
  js/tests/the-smooth-operator.json
Labels: 🧪 test

#2679 CON-3045 Tests(DPxAI): Upload test for quest01 objects-around
  js/tests/objects-around.json
Labels: 🧪 test

#2680 CON-3053 Tests(DPxAI): Upload test for quest01 transform-objects
  js/tests/transform-objects.json
Labels: 🧪 test

#2681 CON-3057 Tests(DPxAI): Upload test for quest01 listed
  js/tests/listed.json
Labels: 🧪 test

#2682 CON-3064 Tests(DPxAI): upload test for quest01 good-recipe
  js/tests/good-recipe.json
Labels: 🧪 test

#2685 CON-3067 Tests(DPxAI): upload test for quest01 only-if
  js/tests/only-if.json
Labels: 🧪 test

#2686 CON-3074 Tests(DPxAI): upload test for quest01 star-forge
  js/tests/star-forge.json
Labels: 🧪 test

#2699 CON-3100 Tests(DPxAI): upload test for quest02 colorful-arms
  dom/colorful-arms_test.js
Labels: 🧪 test

#2689 CON-3077 Tests(DPxAI): upload test for quest01 first-function
  js/tests/first-function.json
Labels: 🧪 test

#2690 CON-3083 Tests(DPxAI): upload test for quest01 i-win-arguments
  js/tests/i-win-arguments.json
Labels: 🧪 test

#2693 CON-2957 Tests(DPxAI): upload test for quest02 first-wink
  dom/first-wink_test.js
Labels: 🧪 test

#2700 CON-3107 Tests(DPxAI): upload test for quest02 colorful-legs
  dom/colorful-legs_test.js
Labels: 🧪 test

#2695 CON-2962 Tests(DPxAI): upload test for quest02 first-hello
  dom/first-hello_test.js
Labels: 🧪 test

#2677 CON-3056 Add subject for ``Quest01/listed``
  subjects/DPxAI/listed/README.md
Labels: 🗂️ docs

#2676 CON-3052 Markdown DPxAI: ``Quest01/transform-objects``
  subjects/DPxAI/transform-objects/README.md
Labels: 🗂️ docs, 🤸 skip-check-links

#2692 CON-2956 Markdown DPxAI ``Quest02/first-wink``
  subjects/DPxAI/first-wink/README.md
Labels: 🗂️ docs, DP

#2694 CON-2961 Markdown DPxAI ``Quest02/first-hello``
  subjects/DPxAI/first-hello/README.md
Labels: 🗂️ docs, DP

#2698 CON-3105 Markdown DPxAI ``Quest02/colorful-legs``
  subjects/DPxAI/colorful-legs/README.md
Labels: 🗂️ docs, DP

#2697 CON-3098 Markdown DPxAI ``Quest02/colorful-arms``
  subjects/DPxAI/colorful-arms/README.md
Labels: 🗂️ docs, DP
